USE [master]
GO
/****** Object:  Database [ClotStore]    Script Date: 26/05/2023 15:37:55 ******/
CREATE DATABASE [ClotStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClotStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClotStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClotStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClotStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClotStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClotStore]
GO
/****** Object:  Table [dbo].[Carret]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carret](
	[IdCarret] [int] IDENTITY(1,1) NOT NULL,
	[PreuTotal] [float] NULL,
	[IdUsuari] [int] NULL,
 CONSTRAINT [PK_Carret] PRIMARY KEY CLUSTERED 
(
	[IdCarret] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
	[Imatge] [varchar](200) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorsProducte]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorsProducte](
	[IdColorProducte] [int] IDENTITY(1,1) NOT NULL,
	[IdProducte] [int] NOT NULL,
	[IdColor] [int] NOT NULL,
 CONSTRAINT [PK_ColorsProducte] PRIMARY KEY CLUSTERED 
(
	[IdColorProducte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estil]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estil](
	[IdEstil] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
	[Imatge] [varchar](300) NULL,
 CONSTRAINT [PK_Estil] PRIMARY KEY CLUSTERED 
(
	[IdEstil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
	[Imatge] [varchar](200) NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferences]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferences](
	[IdPreferences] [int] IDENTITY(1,1) NOT NULL,
	[Temporada] [int] NULL,
	[Estil] [int] NULL,
	[Categoria] [int] NULL,
	[IdUsuari] [int] NULL,
	[IdColor] [int] NULL,
 CONSTRAINT [PK_Preferences] PRIMARY KEY CLUSTERED 
(
	[IdPreferences] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prenda]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prenda](
	[IdPrenda] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
	[Imatge] [varchar](200) NULL,
 CONSTRAINT [PK_Prenda] PRIMARY KEY CLUSTERED 
(
	[IdPrenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProducteCarret]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProducteCarret](
	[IdProducteCarret] [int] IDENTITY(1,1) NOT NULL,
	[IdCarret] [int] NULL,
	[IdTallaProducte] [int] NULL,
	[Quantitat] [int] NULL,
 CONSTRAINT [PK_ProducteCarret] PRIMARY KEY CLUSTERED 
(
	[IdProducteCarret] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productes]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productes](
	[IdProducte] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](150) NULL,
	[Preu] [float] NULL,
	[Imatge] [varchar](max) NULL,
	[Categoria] [int] NULL,
	[Prenda] [int] NULL,
	[Marca] [int] NULL,
	[Temporada] [int] NULL,
	[Estil] [int] NULL,
 CONSTRAINT [PK_Productes] PRIMARY KEY CLUSTERED 
(
	[IdProducte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talla]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talla](
	[IdTalla] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](10) NULL,
 CONSTRAINT [PK_Talla] PRIMARY KEY CLUSTERED 
(
	[IdTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TallasProducte]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TallasProducte](
	[IdTallaProducte] [int] IDENTITY(1,1) NOT NULL,
	[IdProducte] [int] NULL,
	[IdTalla] [int] NULL,
	[existencies] [int] NULL,
 CONSTRAINT [PK_TallasProducte] PRIMARY KEY CLUSTERED 
(
	[IdTallaProducte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temporada]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temporada](
	[IdTemporada] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
	[Imatge] [varchar](200) NULL,
 CONSTRAINT [PK_Temporada] PRIMARY KEY CLUSTERED 
(
	[IdTemporada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuari]    Script Date: 26/05/2023 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuari](
	[IdUsuari] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](100) NULL,
	[Contra] [varchar](150) NULL,
	[Tipus] [varchar](50) NULL,
 CONSTRAINT [PK_Usuari] PRIMARY KEY CLUSTERED 
(
	[IdUsuari] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carret] ON 

INSERT [dbo].[Carret] ([IdCarret], [PreuTotal], [IdUsuari]) VALUES (16, 0, 1)
INSERT [dbo].[Carret] ([IdCarret], [PreuTotal], [IdUsuari]) VALUES (18, 0, 3)
INSERT [dbo].[Carret] ([IdCarret], [PreuTotal], [IdUsuari]) VALUES (1009, 395.45, 1018)
SET IDENTITY_INSERT [dbo].[Carret] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nom], [Imatge]) VALUES (1, N'Dona', N'https://st.depositphotos.com/1059878/4212/i/450/depositphotos_42124335-stock-photo-beautiful-smiling-woman.jpg')
INSERT [dbo].[Categoria] ([IdCategoria], [Nom], [Imatge]) VALUES (2, N'Home', N'https://www.institutolagranja.com/wp-content/uploads/2023/02/camisetas-hombre-camiseta-raya-naranja-fondo-blanco-el-ganso.jpg')
INSERT [dbo].[Categoria] ([IdCategoria], [Nom], [Imatge]) VALUES (3, N'Infantil', N'https://img.freepik.com/fotos-premium/ninos-nino-nina-posando-sobre-fondo-blanco-emociones-reales_561613-88.jpg?w=360')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([IdColor], [Nom]) VALUES (2, N'Vermell')
INSERT [dbo].[Color] ([IdColor], [Nom]) VALUES (3, N'Rosa')
INSERT [dbo].[Color] ([IdColor], [Nom]) VALUES (4, N'Lila')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[ColorsProducte] ON 

INSERT [dbo].[ColorsProducte] ([IdColorProducte], [IdProducte], [IdColor]) VALUES (379, 7, 14)
INSERT [dbo].[ColorsProducte] ([IdColorProducte], [IdProducte], [IdColor]) VALUES (380, 7, 8)
INSERT [dbo].[ColorsProducte] ([IdColorProducte], [IdProducte], [IdColor]) VALUES (381, 8, 14)
GO
SET IDENTITY_INSERT [dbo].[ColorsProducte] OFF
GO
SET IDENTITY_INSERT [dbo].[Estil] ON 

INSERT [dbo].[Estil] ([IdEstil], [Nom], [Imatge]) VALUES (1, N'Formal', N'https://us.123rf.com/450wm/robinsphoto/robinsphoto1707/robinsphoto170700018/81604448-apuesto-joven-empresario-con-una-sonrisa-de-pie-sobre-un-fondo-blanco-con-un-traje-azul-corbata-y.jpg?ver=6')
INSERT [dbo].[Estil] ([IdEstil], [Nom], [Imatge]) VALUES (2, N'Informal', N'https://media.istockphoto.com/id/153782968/es/foto/verano-informal-mujer-de-pie-sobre-fondo-blanco.jpg?s=170667a&w=0&k=20&c=jddN9C5NGLddRo96SwcOGOCo-Lv9y98_iqOtpe7dcBo=')
INSERT [dbo].[Estil] ([IdEstil], [Nom], [Imatge]) VALUES (3, N'Esportiu', N'https://img.freepik.com/fotos-premium/traje-deportivo-chico-concepto-moda-tienda-ropa-modelo-hombre-estilo-deportivo-ropa-hombre-ropa-moda-cara-tranquila-hombre-posando-confianza-fondo-blanco-hombre-guapo-camisa-pantalones-cortos_474717-25997.jpg?w=2000')
SET IDENTITY_INSERT [dbo].[Estil] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([IdMarca], [Nom], [Imatge]) VALUES (1, N'Adidas', N'https://static.vecteezy.com/system/resources/thumbnails/010/994/276/small/adidas-logo-symbol-clothes-design-icon-abstract-football-illustration-free-vector.jpg')
INSERT [dbo].[Marca] ([IdMarca], [Nom], [Imatge]) VALUES (2, N'Nike', N'https://graffica.info/wp-content/uploads/2022/04/logotipo-nike-838x285x80xX.jpeg')
INSERT [dbo].[Marca] ([IdMarca], [Nom], [Imatge]) VALUES (3, N'Lacoste', N'https://1000marcas.net/wp-content/uploads/2020/01/Lacoste-Logo-2002.jpg')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Preferences] ON 

INSERT [dbo].[Preferences] ([IdPreferences], [Temporada], [Estil], [Categoria], [IdUsuari], [IdColor]) VALUES (9, 1, 1, 1, 1018, 12)
INSERT [dbo].[Preferences] ([IdPreferences], [Temporada], [Estil], [Categoria], [IdUsuari], [IdColor]) VALUES (1017, 2, 1, 5, 2024, 5)
INSERT [dbo].[Preferences] ([IdPreferences], [Temporada], [Estil], [Categoria], [IdUsuari], [IdColor]) VALUES (1018, 2, 1, 1, 2025, 12)
SET IDENTITY_INSERT [dbo].[Preferences] OFF
GO
SET IDENTITY_INSERT [dbo].[Prenda] ON 

INSERT [dbo].[Prenda] ([IdPrenda], [Nom], [Imatge]) VALUES (1, N'Jaquetes', N'https://ae01.alicdn.com/kf/Ha4c1e9ec9b954f83bf577859b53bd5e2l/Chaqueta-vaquera-para-hombre-abrigo-de-talla-grande-ropa-de-oto-o-novedad.jpg')
INSERT [dbo].[Prenda] ([IdPrenda], [Nom], [Imatge]) VALUES (2, N'Pantalons', N'https://cdn.fashiola.es/L609988148/cambio-mujer-rectos-straight-jeans-azul-mujer-talla-m.jpg')
INSERT [dbo].[Prenda] ([IdPrenda], [Nom], [Imatge]) VALUES (3, N'Samarretes', N'https://pre.marinaracewear.com/storage/media/attributes/3/8/0/3/2/38032/conversions/CAMISETA-ORG%C3%80NICA-PERSONALIZABLE-MARINA-RACEWEAR-FRONTAL-web-category.jpg')
SET IDENTITY_INSERT [dbo].[Prenda] OFF
GO
SET IDENTITY_INSERT [dbo].[ProducteCarret] ON 

INSERT [dbo].[ProducteCarret] ([IdProducteCarret], [IdCarret], [IdTallaProducte], [Quantitat]) VALUES (359, 1009, 3924, 1)
INSERT [dbo].[ProducteCarret] ([IdProducteCarret], [IdCarret], [IdTallaProducte], [Quantitat]) VALUES (360, 1009, 3929, 1)
INSERT [dbo].[ProducteCarret] ([IdProducteCarret], [IdCarret], [IdTallaProducte], [Quantitat]) VALUES (361, 1009, 3928, 2)
SET IDENTITY_INSERT [dbo].[ProducteCarret] OFF
GO
SET IDENTITY_INSERT [dbo].[Productes] ON 

INSERT [dbo].[Productes] ([IdProducte], [Nom], [Preu], [Imatge], [Categoria], [Prenda], [Marca], [Temporada], [Estil]) VALUES (7, N'Nike Air Max', 69.99, N'https://www.deportesliverpool.es/blog/wp-content/uploads/2015/04/AIR-MAX-2015-Lateral.png', 5, 4, 2, 4, 3)
INSERT [dbo].[Productes] ([IdProducte], [Nom], [Preu], [Imatge], [Categoria], [Prenda], [Marca], [Temporada], [Estil]) VALUES (8, N'Nike SportsWear', 54.99, N'https://www.geomix.es/shop//images/0-0-79871.png', 2, 3, 2, 1, 3)
INSERT [dbo].[Productes] ([IdProducte], [Nom], [Preu], [Imatge], [Categoria], [Prenda], [Marca], [Temporada], [Estil]) VALUES (9, N'Polo Lacoste', 60, N'https://img01.ztat.net/article/spp-media-p1/eba47973060c4128894f09d37cc67cbf/9e39d905807643b58de0f56d35f3e61c.jpg?imwidth=1800', 2, 3, 3, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Productes] OFF
GO
SET IDENTITY_INSERT [dbo].[Talla] ON 

INSERT [dbo].[Talla] ([IdTalla], [Nom]) VALUES (1, N'XS')
INSERT [dbo].[Talla] ([IdTalla], [Nom]) VALUES (2, N'S')
INSERT [dbo].[Talla] ([IdTalla], [Nom]) VALUES (3, N'M')
SET IDENTITY_INSERT [dbo].[Talla] OFF
GO
SET IDENTITY_INSERT [dbo].[TallasProducte] ON 

INSERT [dbo].[TallasProducte] ([IdTallaProducte], [IdProducte], [IdTalla], [existencies]) VALUES (2365, 7, 6, 20)
INSERT [dbo].[TallasProducte] ([IdTallaProducte], [IdProducte], [IdTalla], [existencies]) VALUES (2366, 7, 7, 20)
INSERT [dbo].[TallasProducte] ([IdTallaProducte], [IdProducte], [IdTalla], [existencies]) VALUES (2367, 7, 8, 20)
GO
SET IDENTITY_INSERT [dbo].[TallasProducte] OFF
GO
SET IDENTITY_INSERT [dbo].[Temporada] ON 

INSERT [dbo].[Temporada] ([IdTemporada], [Nom], [Imatge]) VALUES (1, N'Estiu', N'https://cdn.discordapp.com/attachments/1027652049585836133/1098657574334771241/estiu.png')
INSERT [dbo].[Temporada] ([IdTemporada], [Nom], [Imatge]) VALUES (2, N'Primavera', N'https://cdn.discordapp.com/attachments/1027652049585836133/1098657573923733584/primavera.png')
INSERT [dbo].[Temporada] ([IdTemporada], [Nom], [Imatge]) VALUES (3, N'Tardor', N'https://cdn.discordapp.com/attachments/1027652049585836133/1098657573600776282/tardor.png')
SET IDENTITY_INSERT [dbo].[Temporada] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuari] ON 

INSERT [dbo].[Usuari] ([IdUsuari], [Nom], [Contra], [Tipus]) VALUES (1, N'Irene', N'irene123', N'Cliente')
INSERT [dbo].[Usuari] ([IdUsuari], [Nom], [Contra], [Tipus]) VALUES (3, N'Alex', N'alex123', N'Cliente')
INSERT [dbo].[Usuari] ([IdUsuari], [Nom], [Contra], [Tipus]) VALUES (1018, N'o', N'65c74c15a686187bb6bbf9958f494fc6b80068034a659a9ad44991b08c58f2d2', N'Cliente')
SET IDENTITY_INSERT [dbo].[Usuari] OFF
GO
ALTER TABLE [dbo].[Carret]  WITH CHECK ADD  CONSTRAINT [FK_Carret_Usuari] FOREIGN KEY([IdUsuari])
REFERENCES [dbo].[Usuari] ([IdUsuari])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carret] CHECK CONSTRAINT [FK_Carret_Usuari]
GO
ALTER TABLE [dbo].[ColorsProducte]  WITH CHECK ADD  CONSTRAINT [FK_ColorsProducte_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ColorsProducte] CHECK CONSTRAINT [FK_ColorsProducte_Color]
GO
ALTER TABLE [dbo].[ColorsProducte]  WITH CHECK ADD  CONSTRAINT [FK_ColorsProducte_Productes] FOREIGN KEY([IdProducte])
REFERENCES [dbo].[Productes] ([IdProducte])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ColorsProducte] CHECK CONSTRAINT [FK_ColorsProducte_Productes]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Categoria] FOREIGN KEY([Categoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_Preferences_Categoria]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_Preferences_Color]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Estil] FOREIGN KEY([Estil])
REFERENCES [dbo].[Estil] ([IdEstil])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_Preferences_Estil]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Temporada] FOREIGN KEY([Temporada])
REFERENCES [dbo].[Temporada] ([IdTemporada])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_Preferences_Temporada]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Usuari] FOREIGN KEY([IdUsuari])
REFERENCES [dbo].[Usuari] ([IdUsuari])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_Preferences_Usuari]
GO
ALTER TABLE [dbo].[ProducteCarret]  WITH CHECK ADD  CONSTRAINT [FK_ProducteCarret_Carret] FOREIGN KEY([IdCarret])
REFERENCES [dbo].[Carret] ([IdCarret])
GO
ALTER TABLE [dbo].[ProducteCarret] CHECK CONSTRAINT [FK_ProducteCarret_Carret]
GO
ALTER TABLE [dbo].[ProducteCarret]  WITH CHECK ADD  CONSTRAINT [FK_ProducteCarret_TallasProducte] FOREIGN KEY([IdTallaProducte])
REFERENCES [dbo].[TallasProducte] ([IdTallaProducte])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProducteCarret] CHECK CONSTRAINT [FK_ProducteCarret_TallasProducte]
GO
ALTER TABLE [dbo].[Productes]  WITH CHECK ADD  CONSTRAINT [FK_Productes_Categoria] FOREIGN KEY([Categoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productes] CHECK CONSTRAINT [FK_Productes_Categoria]
GO
ALTER TABLE [dbo].[Productes]  WITH CHECK ADD  CONSTRAINT [FK_Productes_Estil] FOREIGN KEY([Estil])
REFERENCES [dbo].[Estil] ([IdEstil])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productes] CHECK CONSTRAINT [FK_Productes_Estil]
GO
ALTER TABLE [dbo].[Productes]  WITH CHECK ADD  CONSTRAINT [FK_Productes_Marca] FOREIGN KEY([Marca])
REFERENCES [dbo].[Marca] ([IdMarca])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productes] CHECK CONSTRAINT [FK_Productes_Marca]
GO
ALTER TABLE [dbo].[Productes]  WITH CHECK ADD  CONSTRAINT [FK_Productes_Prenda] FOREIGN KEY([Prenda])
REFERENCES [dbo].[Prenda] ([IdPrenda])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productes] CHECK CONSTRAINT [FK_Productes_Prenda]
GO
ALTER TABLE [dbo].[Productes]  WITH CHECK ADD  CONSTRAINT [FK_Productes_Temporada] FOREIGN KEY([Temporada])
REFERENCES [dbo].[Temporada] ([IdTemporada])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productes] CHECK CONSTRAINT [FK_Productes_Temporada]
GO
ALTER TABLE [dbo].[TallasProducte]  WITH CHECK ADD  CONSTRAINT [FK_TallasProducte_Productes] FOREIGN KEY([IdProducte])
REFERENCES [dbo].[Productes] ([IdProducte])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TallasProducte] CHECK CONSTRAINT [FK_TallasProducte_Productes]
GO
ALTER TABLE [dbo].[TallasProducte]  WITH CHECK ADD  CONSTRAINT [FK_TallasProducte_Talla] FOREIGN KEY([IdTalla])
REFERENCES [dbo].[Talla] ([IdTalla])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TallasProducte] CHECK CONSTRAINT [FK_TallasProducte_Talla]
GO
USE [master]
GO
